@import "../../style.css";
@import "../../components/styles.css";

h1 {
  margin-top: 100px;
  text-align: center;
  color: #777;
  font-size: 1.5em;
  font-weight: 100;
  /*background-color: grey;*/
}

.word-card {
  background-color: #fff;
  transition: all 100ms ease-in-out;
}

.word-card.flip {
  background-color: #f6f6f6;
}

.word-card #rus {
  opacity: 1;
}

.word-card #heb {
  opacity: 0.05;
}

.word-card.flip #rus {
  opacity: 0.05;
}

.word-card.flip #heb {
  opacity: 1;
}

.word-card .emo-block {
  font-size: 5em;
  height: 100px;
  padding: 0 16px;
}

.word-card .emo-block:empty:after {
  content: "â”";
}

.word {
  --font-size: 3em;
  --line-height: 1em;
}

#hebrew {
  color: #000;
}
#hebrew.hiddenWord {
  color: azure;
}
#hebrew.hiddenWord:hover {
  color: #000;
}
#russian {
  color: #000;
}
#russian.hiddenWord {
  color: azure;
}
#russian.hiddenWord:hover {
  color: #000;
}

.info-container {
  width: 200px;
  /*background-color: lightgrey;*/
  margin: auto;
  padding-left: 60px;
}
#howMuchWords,
#wordNumber {
  /*background-color: grey;*/
  /*text-align: center;*/
  font-size: 1.3em;
  font-weight: 100;
  color: #777;
  margin: 10px 0;
}

.button-container {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
}

.button-container > * {
  margin: 8px;
}

.buttonRound {
  width: 84px;
}
