@import "../../style.css";
@import "../../components/styles.css";

.word-card {
  background-color: #fff;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.word-card.flip {
  background-color: #f6f6f6;
}

.word-card #rus {
  opacity: 1;
}

.word-card #heb {
  opacity: 0.05;
}

.word-card.flip #rus {
  opacity: 0.05;
}

.word-card.flip #heb {
  opacity: 1;
}

.word-card .emo-block {
  font-size: 5em;
  height: 100px;
  padding: 0 16px;
}

.word-card .emo-block:empty:after {
  content: "â”";
}

.button-container {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
}

.button-container > * {
  margin: 8px;
}
